@import "_variables";
@import "_mixins";

::-moz-selection { background: $blue-10; color: $white; text-shadow: none; }
::selection { background: $blue-10; color: $white; text-shadow: none; }

#bookmarklet {
  @include border-box;
  z-index: 1000;
  width: 100%;
  height: $fluidSidebarWidth/2;
  background: #fff;
  border-top: 4px solid $grey-10;
  border-width: 0px 0 0 0;

  .close-marklet {
    position: absolute;
    top: 1px;
    right: 5px;
  }

  #sidebar {
    width: 100%;
    position: static;
    padding-top: 18px;
    background-color: $grey-9;
    list-style: none;
    .dropdown-menu {
      top: 55px;
      max-height: 240px;
      max-width: 230px;
      overflow: auto;
      a {
        white-space: normal;
      }
    }

  }

  #drop {

    #drop-content {
      @include clearfix;
      height: 200px;
    }

    #drop-zone {
      @include transition(.4s);
      @include border-box;
      height: 100%;
      position: relative;
      border: 4px solid $grey-9;
      $shadow: inset 0px 0px 26px rgba(0, 0, 0, 0.3);
      @include box-shadow($shadow);
      @include border-radius(4px);

      &.loading { @include loading($grey-9); }

      .block-status,
      .block-link,
      .block-close {
        display: none;
      }

      .instructions {
        text-align: center;
        list-style: disc;
        color: $grey-7;
        font-size: 16px;
        line-height: 22px;
        margin: 22px;
        padding-top: 52px;
      }

      .help {
        @include occupy-space;
        display: none;
        background-color: $grey-9;
        color: $grey-7;
        ul {
          margin: 30px 10px;
          padding: 0 0 0 20px;
        }
        .close-help {
          position: absolute;
          top: 0px;
          right: 1px;
        }
      }

      .helpLink {
        position: absolute;
        bottom: 5px;
        right: 10px;
        color: $grey-8;
        font-weight: bold;
        cursor: pointer;
      }

    }



    #drop-zone.success, 
    #drop-zone.error {
      background-image: none;

      .status {
        @include sans-serif-font;
        margin-top: 60px;
        text-align: center;
        color: $white;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;     
      }

      .instructions{
        display: none;
      }

      .block-status {
        margin-top: $gridGutterWidth;
        margin-bottom: 8px;
        font-size: 15px;
        font-weight: bold;
        display: block;
      }
      .block-link,
      .block-close {
        font-size: 12px;
        line-height: 15px;
        color: white;
      }
    }

    #drop-zone.success {
      background-color: $green;
      .block-link,
      .block-close {
        display: block;
      }
    }

    #drop-zone.error {
      background-color: $mediumRed;
      .block-status {
        display: block;
      }
      .block-close {
        display: block;
      }
    }

    #save-page {
      @include border-box;
      width: 100%;
      text-align: center;
    }
  }


  #item-container .template-upload { overflow: hidden; }
}