@import "_variables";
@import "_mixins";

::-moz-selection { background: $blue-10; color: $white; text-shadow: none; }
::selection { background: $blue-10; color: $white; text-shadow: none; }

#bookmarklet {
  @include border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: $fluidSidebarWidth/2;
  background: #fff;
  border-top: 4px solid $grey-9;
  border-width: 4px 0 0 0;

  #sidebar {
    width: $fluidSidebarWidth;
    position: absolute;
    top: 0;
    left: 0;
  }

  .sidebar {
    background-color: $grey-9;
  }

  #drop {
    position: absolute;
    top: $gridGutterWidth/2;
    right: $gridGutterWidth/2;
    bottom: $gridGutterWidth/2;
    left: $fluidSidebarWidth + ($gridGutterWidth/2);
    
    #drop-content {
      @include clearfix;
      @include occupy-space;
    }

    #drop-zone {
      @include border-box;
      float: left;
      height: 100%;
      width: 75%;
      margin-right: $gridGutterWidth/2;
      background: #fff url(../images/drag.png) no-repeat center center;
      border: 4px solid $grey-9;
      $shadow: inset 1px 1px 3px rgba(0,0,0,.25), inset -1px -1px 3px rgba(0,0,0,.15);
      @include box-shadow($shadow);
      @include border-radius(4px);

      &.loading { @include loading($grey-9); }

      .block-status,
      .block-link,
      .block-close {
        display: none;
      }

    }

    #drop-zone.success, 
    #drop-zone.error {
      @include transition(.4s);
      background-image: none;

      .status {
        @include sans-serif-font;
        text-align: center;
        color: $white;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;     
      }

      .block-status {
        margin-top: $gridGutterWidth;
        margin-bottom: 8px;
        font-size: 15px;
        font-weight: bold;
        display: block;
      }
      .block-link,
      .block-close {
        font-size: 12px;
        line-height: 15px;
        color: white;
      }
    }

    #drop-zone.success {
      background-color: $green;
      .block-link,
      .block-close {
        display: block;
      }
    }

    #drop-zone.error {
      background-color: $mediumRed;
      .block-status {
        display: block;
      }
      .block-close {
        display: block;
      }
    }



    #save-page {
      @include border-box;
      float: left;
      margin-top: 4px;
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
  }

  #item-container .template-upload { overflow: hidden; }
}