@import "_variables";
@import "_mixins";

::-moz-selection { background: $blue-10; color: $white; text-shadow: none; }
::selection { background: $blue-10; color: $white; text-shadow: none; }

#bookmarklet {
  @include border-box;
  z-index: 1000;
  width: 100%;
  height: $fluidSidebarWidth/2;
  background: #fff;
  border-top: 4px solid $grey-9;
  border-width: 0px 0 0 0;

  #sidebar {
    width: 100%;
    position: static;
    padding-top: 18px;
  }

  .sidebar {
    background-color: $grey-9;
  }

  #drop {

    #drop-content {
      @include clearfix;
      height: 200px;
    }

    #drop-zone {
      @include border-box;
      height: 100%;
      border: 4px solid $grey-9;
      $shadow: inset 1px 1px 3px rgba(0,0,0,.25), inset -1px -1px 3px rgba(0,0,0,.15);
      @include box-shadow($shadow);
      @include border-radius(4px);

      &.loading { @include loading($grey-9); }

      .block-status,
      .block-link,
      .block-close {
        display: none;
      }

      .instructions {
        color: $grey-8;
        text-align: center;
        font-size: 16px;
        width: 160px;
        margin: 78px auto 0px auto;
      }

    }



    #drop-zone.success, 
    #drop-zone.error {
      @include transition(.4s);
      background-image: none;

      .status {
        @include sans-serif-font;
        margin-top: 60px;
        text-align: center;
        color: $white;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;     
      }

      .instructions{
        display: none;
      }

      .block-status {
        margin-top: $gridGutterWidth;
        margin-bottom: 8px;
        font-size: 15px;
        font-weight: bold;
        display: block;
      }
      .block-link,
      .block-close {
        font-size: 12px;
        line-height: 15px;
        color: white;
      }
    }

    #drop-zone.success {
      background-color: $green;
      .block-link,
      .block-close {
        display: block;
      }
    }

    #drop-zone.error {
      background-color: $mediumRed;
      .block-status {
        display: block;
      }
      .block-close {
        display: block;
      }
    }

    #save-page {
      @include border-box;
      width: 100%;
      text-align: center;
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 5px;
  }

  #item-container .template-upload { overflow: hidden; }
}