@import "nib"
@import "variables"
@import "mixins"


// LOGIN SCREEN
// ------------

.bookmarklet #login {
  margin-top: 18px;
  padding: 10px;
  overflow-y: auto;

  .logo {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .btn {
    gradientBar($blue-4, $blue-3);
  }

  .forgot a {
    font-size: 11px;
    color: $grey-6;
  }

  .close-marklet {
    position: fixed;
    top: 1px;
    right: 5px;
  }
}


// MAIN
// ----

#bookmarklet {
  width: 100%;
  height: auto;
  background: #fff;

  .close-marklet {
    position: absolute;
    top: 1px;
    right: 5px;
  }

  #sidebar {
    width: 100%;
    position: static;
    background-color: $backgroundGray;
    list-style: none;

    .search-query {
      width: 100%;
    }

    placeholder($darkTextColor);

    .dropdown-menu {
      max-height: 240px;
      max-width: none;
      width: 100%;
      overflow: auto;
      border: 0;
      padding: 0;
      border: 1px solid $borderColor;
      background: $backgroundGray;

      a {
        white-space: normal;
      }

      li:first-child .sidebar-item { border-top: 0; }
      li:last-child .sidebar-item { border-bottom: 0; }

    }
  }

  #drop {

    #drop-content {
      clearfix();
      height: 270px;
    }

    #drop-zone { 
      transition: background-color .4s;

      height: 100%;
      position: relative;
      box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.2);

      &.loading { 
        loading($grey-9); 
      }

      .block-status,
      .block-link,
      .block-close {
        display: none;
      }

      .instructions {
        text-align: center;
        list-style: disc;
        color: $grey-7;
        font-size: 16px;
        line-height: 28px;
        padding: 22px;
        padding-top: 52px;
      }

      .help {
        occupy-space();
        display: none;
        background-color: $grey-9;
        color: $grey-7;
        ul {
          margin: 30px 10px;
          padding: 0 0 0 20px;
        }
        .close-help {
          position: absolute;
          top: 0px;
          right: 1px;
        }
      }

      .helpLink {
        position: absolute;
        bottom: 5px;
        right: 10px;
        color: $grey-8;
        font-weight: bold;
        cursor: pointer;
      }

    }



    #drop-zone.success, 
    #drop-zone.error {
      background-image: none;
      .status {
        margin-top: 75px;
        text-align: center;
        color: $white;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;     
      }

      .instructions{
        display: none;
      }

      .block-status {
        margin-top: $gridGutterWidth;
        margin-bottom: 8px;
        font-size: 15px;
        font-weight: bold;
        display: block;
      }
      .block-link,
      .block-close {
        font-size: 12px;
        line-height: 15px;
        color: white;
      }
    }

    #drop-zone.success {
      background-color: $green;
      .block-link,
      .block-close {
        display: block;
      }
    }

    #drop-zone.error {
      background-color: $mediumRed;
      .block-close {
        display: block;
      }
    }

    .save-as-page-link {
      background-color: rgb(153, 153, 153);
      color: white;
      cursor: pointer;
      display: inline-block;
      padding: 0px 7px;
      margin-left: 3px;

      &:hover {
        background-color: $activeColor;
        text-decoration: none;
      }
    }
  }


  #item-container .template-upload { overflow: hidden; }
}