@import "nib"
@import "variables"
@import "mixins"

// DEFAULTS
// --------

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $backgroundGray;
  color: $darkTextColor;
  font-size: 13px;
  line-height: 22px;
  font-weight: bold;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: inherit;
  }
}

input {
  border: 0;
  outline: 0;
  box-shadow: none;
  background: transparent;
  font: inherit;
  
  &:focus {
    outline: none;
  }
}

ul {
  padding: 0;
  margin: 0 !important;
}

li {
  list-style: none;
}

placeholder(inherit);

.bar-box {
  float: left;
  width: $searchQueryHeight;
  line-height: $searchQueryHeight;
  text-align: center;
  background-color: $backgroundGray;
  border-left: 1px solid $sidebarBorderColor;
}


// MAIN
// ----

#bookmarklet {
  width: 100%;
  height: auto;
}


// SEARCH
// ------

.search-container {
  background: rgb(226, 226, 226);
  height: ($unit * 2);
  padding-right: ($unit * 2);

  &.loading {
    loading(rgb(226, 226, 226));
  }

  placeholder(rgb(145, 145, 145));

  .search-query {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding-left: ($unit * 2);
    border: 0;
    border-right: 1px solid darken($borderColor, 5%);
    background: no-repeat 14px center;
    background-image: url('/images/interface/search-dark.png');
    color: #4b4b4b;
    font-weight: normal;
    transition: background-color .125s
    box-shadow: none;

    &:focus {
      border-right: 1px solid darken($borderColor, 5%);
      color: inherit;
    }

  }

  .dropdown-menu {
    position: absolute;
    width: 100%;
    max-width: none;
    z-index: 1;
    background: $backgroundGray;
    padding: 0;
    border: 0;

    a {
      white-space: normal;
    }
  }
}

.new-channel-form-toggle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: ($unit * 2);
  height: ($unit * 2);
  background: $backgroundGray url('/images/interface/compose.png') center center no-repeat
 
  &:hover {
    background-color: darken(rgb(226, 226, 226), 5%)
  }
}


// NEW CHANNEL
// -----------

.new-channel-form-container {
  position: absolute;
  left: 0;
  top: ($unit * 2);
  width: 100%;
  min-height: $unit;
  max-height: $sidebarWidth;
  z-index: $zindexFixedSidebar;
  background: #E7E7E7;
}

.new-channel-form-toggle {
  transition: background-color 0.25s;

  &:hover {
    background-color: $sidebarHeaderBackgroundColor;
  }
}

.new-channel-container {
  &.active {
    background-color: $sidebarHeaderBackgroundColor;
  }  
}

.new-channel-form-container {
  background: rgb(226, 226, 226);
  border-top: 1px solid #dcdcdc;
  box-shadow: inset 0 1px 0 #fff;

  .header{
    line-height: ($baseLineHeight + 4);
    padding-bottom: ($unit / 2);
    font-weight: bold;
    color: $textColor;
  }
}

.new-channel-inner {
  padding: ($unit / 2);
}

.new-channel-settings {
  &, input { 
    margin: 0; 
  }

  input, .btn {
    border: 1px solid rgba(0,0,0,.075) !important;
  }

  // OVERRIDE SINCE WE ARE REUSING THE
  // SAME PRIVACY SELECTOR AS USED IN
  // THE CHANNEL HEADER
  // ---------------------------------
  .visibility-selector { font-size: $baseFontSize; }

  input[type=text] { background-color: white; }

  input[type=submit] {
    box-shadow: none;
    font-weight: bold;
  }
}

.new-channel-settings-state {
  width: 100%;
  margin: ($unit / 2) 0;

  .btn {
    width: 100%;

    .caret { float: right; }
    
    // copied from buttons.styl
    border: 1px solid rgba(0,0,0,0.075);

    &:hover { border-color: rgba(0,0,0,0.5); }
  }
}

.new-channel-settings 
}

.new-channel-settings-submit {
  font-weight: bold;
}

.panel-close {
  display: block;
  padding: ($unit / 4) 0;
  text-align: center;
  font-size: ($baseFontSize - 2);
  line-height: ($baseLineHeight - 2);
  font-weight: bold;
  color: #fff;
  background-color: $grey-4;
  box-shadow: inset 0 5px 5px -5px rgba(0,0,0,.2);
  cursor: pointer;

  &.light {
    background-color: $grey-8;
    color: $textColor;
  }

  &:hover {
    text-decoration: none;
    background-color: lighten($grey-8, 15%);
  }
}


// DROP ZONE
// ---------

.drop-zone-container {
  box();
  position: relative;
  text-align: center;
  height: 235px;

  box-shadow: inset 0px 0px 15px rgba(0,0,0,.2);
  font-size: 16px;
  font-weight: normal;
  background-color: white;
  color: rgb(145, 145, 145);

  &.ready {
    .instructions { display: block; }
    .status-container { display: none; }
  }

  &.complete {
    .instructions { display: none; }
    .status-container { 
      box();
    }
  }

  &.loading {
    loading(white);
  }
}

.instructions {
  padding: $unit;
  line-height: 26px;
}

.save-as-page-link {
  display: inline-block;
  padding: 0px 4px;
  color: white;
  background-color: rgb(145, 145, 145);

  &:hover {
    color: white;
    background-color: $activeColor;
    text-decoration: none;
  }

  &:active {
    background-color: $activeColor;
  }
}

.status-container {
  display-box();
  occupy-space();
  color: white;

  .block-status {
    margin-bottom: ($unit / 2);
  }

  .view-on-arena-link {
    padding: 3px 7px;
    color: $droppableColor;
    background-color: white;
  }

  &.success {
    background-color: $droppableColor;

    .status-success { display: block; }
    .status-error { display: none; }
  }

  &.error {
    background-color: $errorColor;

    .status-success { display: none; }
    .status-error { display: block; }    
  }
}

// SIDEBAR LINK
// ------------

.sidebar-item {
  position: relative;
  line-height: 18px;
  border-bottom: 1px solid darken($backgroundGray, 5%);

  .area {
    display: block;
    padding: 15px ($unit / 2);
  }

  &.user .area {
    padding: ($unit / 2);
  }

  // SIDEBAR ITEM CONTENT
  // --------------------
  .item-title,
  .item-meta { display: block; }

  .item-title {
    font-size: $baseFontSize;
    font-weight: bold;
    color: $darkTextColor;
    padding-right: ($unit / 2);

    .username {
      margin-left: ($unit / 2);
      line-height: ($unit * 2);
      vertical-align: middle;
    }
  }

  .item-meta {
    font-size: ($baseFontSize - 2);
    line-height: ($baseLineHeight - 2);
    font-weight: normal;
    color: $lightTextColor;
    
    span { text-transform: lowercase; }
  }

  .item-meta-icons {
    position: absolute;
    display: block;
    // top: 50%;
    // right: 23px;
    // height: 14px; // sprite-height
    // margin-top: -9px; // visual offset
    top: 15px;
    right: 15px;

    i { vertical-align: top; }
  }

  // DRAGGABLE INDICATOR
  // -------------------
  .handle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: $unit;
    visibility: hidden;
    cursor: move;
  }

  // HOVER STATE
  // -----------
  &:hover {
    background-color: darken($backgroundGray, 5%);
    border-bottom: 1px solid $sidebarBorderColor;

    .area { text-decoration: none; }

    .item-title > .title,
    .username { text-decoration: none; }

    .handle { visibility: visible; }
  }

  // ACTIVE STATE
  // ------------
  &.active {
    background-color: $activeColor !important;
    border-bottom: 1px solid $activeColor;

    .item-title { color: #fff; }
    .item-meta { color: white; }
    .item-timestamp { color: #adc6ee; }
  }

  // DROPPABLE INDICATION
  // --------------------
  &.droppable-hover {
    background-color: $droppableColor;
    
    .item-title,
    .item-meta { color: #fff; }
  }

  // CONNECTING DROP STATE
  // ---------------------
  &.drop-loading {
    loading($droppableColor);

    .item-title,
    .item-meta { color: #fff; }
  }

  // LOADING STATE
  // -------------
  &.loading,
  &.highlight.loading,
  &.loading:hover,
  &.highlight.loading:hover {
    loading($droppableColor);

    .item-title,
    .item-meta { color: #fff; }
  }
}

.highlight > .sidebar-item {
  background-color: $highlightColor !important;
  border-bottom: 1px solid $highlightColor;

  .item-title, .item-meta { color: $highlightTextColor; }
}

.current-channel-container {
  a { cursor: default; }
}


// LOGIN SCREEN
// ------------

.bookmarklet #login {
  margin-top: 18px;
  padding: 10px;
  overflow-y: auto;

  .logo {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .btn {
    gradientBar($blue-4, $blue-3);
  }

  .forgot a {
    font-size: 11px;
    color: $grey-6;
  }

  .close-marklet {
    position: fixed;
    top: 1px;
    right: 5px;
  }
}