// COLORS 
// ------

// Colors are handled by a series of transformations on the base brand color
// This is done by hand because SASS doesn't support variable interpolation inside of loops at this time
// Implemented in /styleguide/colors.html for refrence

$deepBlue=  #000063
$baseColor= $deepBlue

$blue-1  = darken($baseColor, 15)
$blue-2  = darken($baseColor, 10)
$blue-3  = darken($baseColor, 5)
$blue-4  = $baseColor
$blue-5  = lighten($baseColor, 10)
$blue-6  = lighten($baseColor, 25)
$blue-7  = lighten($baseColor, 45)
$blue-8  = lighten($baseColor, 60)
$blue-9  = lighten($baseColor, 72)
$blue-10 = lighten($baseColor, 77)

$tint-1  = desaturate($blue-1,  90%)
$tint-2  = desaturate($blue-2,  90%)
$tint-3  = desaturate($blue-3,  90%)
$tint-4  = desaturate($blue-4,  90%)
$tint-5  = desaturate($blue-5,  90%)
$tint-6  = desaturate($blue-6,  90%)
$tint-7  = desaturate($blue-7,  90%)
$tint-8  = desaturate($blue-8,  90%)
$tint-9  = desaturate($blue-9,  90%)
$tint-10 = desaturate($blue-10, 90%)

$grey-1  = desaturate($blue-1,  100%)
$grey-2  = desaturate($blue-2,  100%)
$grey-3  = desaturate($blue-3,  100%)
$grey-4  = desaturate($blue-4,  100%)
$grey-5  = desaturate($blue-5,  100%)
$grey-6  = desaturate($blue-6,  100%)
$grey-7  = desaturate($blue-7,  100%)
$grey-8  = desaturate($blue-8,  100%)
$grey-9  = desaturate($blue-9,  100%)
$grey-10 = desaturate($blue-10, 100%)

$red-1  = hsl($blue-1) + 120deg
$red-2  = hsl($blue-2) + 120deg
$red-3  = hsl($blue-3) + 120deg
$red-4  = hsl($blue-4) + 120deg
$red-5  = hsl($blue-5) + 120deg
$red-6  = hsl($blue-6) + 120deg
$red-7  = hsl($blue-7) + 120deg
$red-8  = hsl($blue-8) + 120deg
$red-9  = hsl($blue-9) + 120deg
$red-10 = hsl($blue-10) + 120deg

$green-1  = desaturate((hsl($blue-1) + 250deg), 50%)
$green-2  = desaturate((hsl($blue-2) + 250deg), 50%)
$green-3  = desaturate((hsl($blue-3) + 250deg), 50%)
$green-4  = desaturate((hsl($blue-4) + 250deg), 50%)
$green-5  = desaturate((hsl($blue-5) + 250deg), 50%)
$green-6  = desaturate((hsl($blue-6) + 250deg), 50%)
$green-7  = desaturate((hsl($blue-7) + 250deg), 50%)
$green-8  = desaturate((hsl($blue-8) + 250deg), 50%)
$green-9  = desaturate((hsl($blue-9) + 250deg), 50%)
$green-10 = desaturate((hsl($blue-10) + 250deg), 50%)

$yellow-1  = desaturate((hsl($blue-1) + 170deg), 10%)
$yellow-2  = desaturate((hsl($blue-2) + 170deg), 10%)
$yellow-3  = desaturate((hsl($blue-3) + 170deg), 10%)
$yellow-4  = desaturate((hsl($blue-4) + 170deg), 10%)
$yellow-5  = desaturate((hsl($blue-5) + 170deg), 10%)
$yellow-6  = desaturate((hsl($blue-6) + 170deg), 10%)
$yellow-7  = desaturate((hsl($blue-7) + 170deg), 10%)
$yellow-8  = desaturate((hsl($blue-8) + 170deg), 10%)
$yellow-9  = desaturate((hsl($blue-9) + 170deg), 10%)
$yellow-10 = desaturate((hsl($blue-10) + 170deg), 10%)

// SEMANTIC
// --------
$private       = $red-6
$private-light = $red-7
$danger        = $red-6

$public        = $green-6
$public-light  = $green-7
$green         = $green-6
$green-light   = $green-7
$success       = $green-6
$success-light = $green-7

$closed       = $yellow-6
$closed-light = $yellow-7

// LEGACY
// ------
$black       = #000
$darkGray    = $grey-1
$gray        = $grey-5
$lightGray   = $grey-7
$lighterGray = $grey-9
$white       = #fff

$darkBlue      = $blue-2
$mediumBlue    = $blue-5
$lightBlue     = $blue-7
$lighterBlue   = $blue-9
$alternateBlue = $blue-10

$deepGrey      = $grey-1
$darkGrey      = $grey-2
$mediumGrey    = $grey-5
$lightGrey     = $grey-7
$lighterGrey   = $grey-9
$alternateGrey = $grey-10

$deepGreen      = $green-1
$mediumGreen    = $green-5
$lightGreen     = $green-7
$lighterGreen   = $green-9
$alternateGreen = $green-10

$deepRed      = $red-1
$mediumRed    = $red-5
$lightRed     = $red-7
$lighterRed   = $red-9
$alternateRed = $red-10

$linkColor      = $blue-4
$linkColorHover = $blue-6

$green  = $green-5
$orange = #f89406 // lol

$primaryButtonColor = $mediumBlue
$placeHolderText    = $lightGray

// INTERFACE
// ---------
$textColor      = $grey-4 // Primary text color
$lightTextColor = $grey-7 // Secondary text color (privacy state in sidebar channels for instance)
$darkTextColor  = $grey-3 // Secondary text color (headlines for instance)

$borderColor      = #e0e0e0;
$lightBorderColor = lighten($borderColor, 50%);
$darkBorderColor  = dark($borderColor, 50%);
$hoverBorderColor = #a6a6a6;
$highlightColor   = #F3D250;
$highlightTextColor = #A18200;
$activeColor      = #327aa6;
$droppableColor   = #327a52;
$errorColor       = #c12c28;
$backgroundGray   = #f5f5f5;  

$darkBackgroundColor       = #4b4b4b;
$darkBackgroundBorderColor = #5d5d5d;

