@import "nib"
@import "variables"
@import "mixins"

// GENERAL STYLES
// --------------
form {
  margin-bottom: $unit;
}

label,
input,
select,
textarea {
  sans-serif-font(normal, $baseFontSize, $baseLineHeight);
}

label {
  display: block;
  margin-bottom: ($unit / 4);
  color: $darkGray;

  &.small { font-size: $smallFontSize; }
}

input,
textarea,
select,
.uneditable-input {
  display: block;
  width: $thumbnailSize;
  margin: $unit 0;
  padding: 6px 4px;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: #000;
  border: 1px solid $borderColor;
  border-radius: 0;
  word-break: normal;
}

textarea {
  padding: ($unit / 2);
}

// RESETS
// ------
input[type=image],
input[type=checkbox],
input[type=radio] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  line-height: normal;
  border: none;
  cursor: pointer;
}

input[type=file] {
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: #fff;
  background-color: initial;
  box-shadow: none;
}

input[type=button],
input[type=reset],
input[type=submit] {
  width: auto;
  height: auto;
}

// Set the height of select and file controls to match text inputs
select,
input[type=file] {
  // In IE7, the height of the select element cannot be changed by height, only font-size
  height: ($baseLineHeight * 1.5);
  line-height: ($baseLineHeight * 1.5);
}

// Chrome on Linux and Mobile Safari need background-color
select {
  width: $thumbnailSize; 
  padding: 0;
  vertical-align: middle;
  background-color: #fff;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: inherit;
}

// Remove shadow from image inputs
input[type=image] {
  box-shadow: none;
}

textarea {
  height: auto;
}

// CHECKBOXES & RADIOS
// -------------------
// Indent the labels to position radios/checkboxes as hanging
.radio,
.checkbox {
  padding-left: $unit;
}

.radio input[type=radio],
.checkbox input[type=checkbox] {
  float: left;
  margin-left: -($unit);
}

// FOCUS STATE
// -----------
input,
textarea {
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  transition: border-color 0.125s;
}
input:focus,
textarea:focus {
  border-color: $activeColor;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  outline: 0;
}
input[type=file]:focus,
input[type=checkbox]:focus,
select:focus {
  box-shadow: none; // override for file inputs
  // Select elements don't get box-shadow styles, so instead we do outline
  outline: 1px dotted #666; 
}

// DISABLED STATE
// --------------
// Disabled and read-only inputs
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: #f5f5f5;
  border-color: #ddd;
  cursor: not-allowed;
}

// FORM FIELD FEEDBACK STATES
// --------------------------
// Mixin for form field states
formFieldState($textColor=#555, $borderColor=#ccc, $backgroundColor=#f5f5f5) {
  // Set the text color
  > label,
  .help-block,
  .help-inline {
    color: $textColor;
  }
  // Style inputs accordingly
  input,
  textarea {
    color: $textColor;
    border-color: $borderColor;

    &:focus {
      border-color: darken($borderColor, 10%);
      box-shadow: 0 0 6px lighten($borderColor, 20%);
    }
  }
  // Give a small background color for input-prepend/-append
  .input-prepend .add-on,
  .input-append .add-on {
    color: $textColor;
    background-color: $backgroundColor;
    border-color: $textColor;
  }
}
// Error
.control-group.error {
  formFieldState(#b94a48, #ee5f5b, lighten(#ee5f5b, 30%));
}
// Warning
.control-group.warning {
  formFieldState(#c09853, #ccae64, lighten(#CCAE64, 5%));
}
// Success
.control-group.success {
  formFieldState(#468847, #57a957, lighten(#57a957, 30%));
}

// HTML5 invalid states
// Shares styles with the .control-group.error above
input:invalid,
textarea:invalid,
select:invalid {
  &:focus {
    border-color: darken(#ee5f5b, 10%);
  }
}

// FORM ACTIONS
// ------------
.form-actions {
  padding: ($baseLineHeight - 1) 20px $baseLineHeight;
  margin-top: $baseLineHeight;
  margin-bottom: $baseLineHeight;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}

// For text that needs to appear as an input but should not be an input
.uneditable-input {
  display: block;
  background-color: #fff;
  border-color: $grey-9;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.025);
  cursor: not-allowed;
}

// // Placeholder text gets special styles; can't be bundled together though for some reason
placeholder($lightGray);

// HELP TEXT
// ---------
.help-block {
  margin-top: 5px;
  margin-bottom: 0;
  color: $lightGray;
}

.help-inline {
  *position: relative; // IE6-7
  *top: -5px; // IE6-7
  display: inline;
  padding-left: 5px;
}

// INPUT GROUPS
// ------------
// Allow us to put symbols and text within the input field for a cleaner look
.input-prepend,
.input-append {
  margin-bottom: 5px;
  clearfix(); // Clear the float to prevent wrapping

  input,
  .uneditable-input {
    border-radius: 0 3px 3px 0;
  }
  .uneditable-input {
    border-left-color: #ccc;
  }
  .add-on {
    float: left;
    display: block;
    width: auto;
    min-width: 16px;
    height: $baseLineHeight;
    margin-right: -1px;
    padding: 4px 4px 4px 5px;
    font-weight: normal;
    line-height: $baseLineHeight;
    color: $lightGray;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px 0 0 3px;
  }
  .active {
    background-color: lighten($green, 30);
    border-color: $green;
  }
}
.input-prepend {
  .add-on {
    *margin-top: 1px; // IE6-7
  }
}
.input-append {
  input,
  .uneditable-input {
    float: left;
    border-radius: 3px 0 0 3px;
  }

  .uneditable-input {
    border-right-color: #ccc;    
  }

  .add-on {
    margin-right: 0;
    margin-left: -1px;
    border-radius: 0 3px 3px 0;
  }
}


// HORIZONTAL & VERTICAL FORMS
// ---------------------------

// Common properties
// -----------------

.form-search,
.form-inline,
.form-horizontal {
  input,
  textarea,
  select,
  .uneditable-input {
    display: inline-block;
    margin-bottom: 0;
  }
}
.form-search label,
.form-inline label {
  display: inline-block;
}

// Margin to space out fieldsets
.control-group {
  margin-bottom: $baseLineHeight;
  border: 0;
}

// Horizontal-specific styles
// --------------------------

.form-horizontal {
  // Float the labels left
  .control-group > label {
    float: left;
    width: 140px;
    padding-top: 5px;
    text-align: right;
  }

  // Move over all input controls and content
  .controls {
    margin-left: 160px;
    // Does not contain any normal form fields
    &.text {
      padding-top: 5px;
      line-height: $baseLineHeight;
    }
  }

  // Move over buttons in .form-actions to align with .controls
  .form-actions {
    padding-left: 160px;
  }
}

// NEW BLOCK
// Relatively hacky
// ---------

form,
label,
input,
select,
textarea {
  &.full {
    width: 100%;
    min-height: $baseLineHeight + 8px;
  }
}

.editor-field {
  // min-height: 220px;
  padding: 4px;
  margin: 0;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $gray;
  border: 1px solid $grey-9;

  // Below is copied from type.scss
  // needed to override the navbar styling
  p {
    margin-bottom: ($baseLineHeight / 2) !important;
    font-family: $baseFontFamily !important;
    font-size: $baseFontSize !important;
    line-height: $baseLineHeight !important;

    small {
      font-size: ($baseFontSize - 2) !important;
      color: $lightGray !important;
    }

    a {
      background-color: $lightBlue !important;
    }
  }
  
  &.big {
    height:200px;
    margin-top: $baseLineHeight;
  }
  
  &:focus {
    outline: none;
    border-color: $lightBlue;
    background-color: $alternateBlue;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 0 8px $lighterBlue;
    outline: 0;
  }
}

// NEW CHANNEL
// -----------
form.sidebar {
  margin-top:10px;
  margin: 0;
  line-height: 18px;
  .control-group:last-child {
    margin-bottom: 0;
  }
}

// ERRORS
// ------
.field_with_errors { 
  display: inline-block;
  formFieldState(#b94a48, #ee5f5b, lighten(#ee5f5b, 30%));
}