@import "nib"
@import "variables"
@import "mixins"

// LABELS
// ------
.label {
  padding: 1px 4px 2px;
  font-size: $baseFontSize * .846;
  font-weight: bold;
  line-height: 14px;
  color: #fff;
  vertical-align: baseline;
  white-space: nowrap;
  background-color: $grey-8;

  &.important { background-color: $red-7; }
  &.warning   { background-color: $orange; }
  &.success   { background-color: $green; }
  &.notice    { background-color: $lightBlue; }

  &.count {
    border-radius: 7px;
  }

  &.help {
    background-color: transparent;
    color: $grey-7;
    text-shadow: none;
  }

  // PLACEHOLDER IS INSERTED INTO RANDOM CONTEXTS
  &.placeholder {
    font-family: sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: none;
    background-color: $yellow-9;
    color: $grey-4;
    font-size: $baseFontSize;
  }

  &.label-large {
    padding: 1px 4px 2px;
    font-size: $baseFontSize;
  }
}

// COLORED BOLD
// ------------
strong.private {
  color: $private;

  &.lighten {
    color: $private-light;
  }
}

strong.public,
strong.green,
strong.success {
  color: $public;

  &.lighten {
    color: $public-light;
  }
}

strong.closed {
  color: $closed;

  &.lighten {
    color: $closed-light;
  }
}

strong.danger {
  color: $danger;
}

// STATE INDICATOR DOT
// -------------------
.state-dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  content: " ";
  margin: 0 0 2px 2px;
  border-radius: 4px;

  &.large {
    width: 8px;
    height: 8px;
    margin: 0;
    border-radius: 8px;
  }

  &.public  { background-color: $public-light; }
  &.private { background-color: $private-light; }
  &.closed  { background-color: $closed-light; }
}
