@import 'colors';

// GLOBAL VALUES
// --------------------------------------------------

// Grid system
// Modify the grid styles in mixins.less
$gridColumns:           12;
$gridColumnWidth:       60px;
$gridGutterWidth:       20px;
$siteWidth:             ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));
// Fluid width sidebar
$fluidSidebarWidth:     275px;
$thumbnailSize:         220px;

// Typography
$baseFontSize:          13px;
$baseFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$baseLineHeight:        18px;

// Buttons
$primaryButtonColor:    $mediumBlue;

// COMPONENT VARIABLES
// --------------------------------------------------

// Input placeholder text color
$placeHolderText:       $lightGray;

// Z-index master list
// Used for a bird's eye view of components dependent on the z-axis
$zindexChat:                 900;
$zindexDropdown:            1000;
$zindexTooltip:             1020;
$zindexFixedAddField:       1025;
$zindexFixedSidebar:        1027;
$zindexFixedNavbar:         1030;
$zindexPopover:             1035;
$zindexFullscreen:          1055;
$zindexModalBackdrop:       1060;
$zindexModal:               1070;
$zindexLoadingIndicator:    1080;

// Navbar
$navBarHeight:                    $gridGutterWidth*2;
$navbarBackground:                #222;
$navbarBackgroundHighlight:       #333;


