@import "colors"

// GLOBAL VALUES
// -------------

// UNITS
// ----
$gridColumns       = 12
$gridColumnWidth   = 60px
$gridGutterWidth   = 20px
$unit              = $gridGutterWidth
$siteWidth         = ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1))
$thumbnailSize     = 220px
$sidebarWidth      = 275px
$thickBorderWidth  = 3px
$thinBorderWidth   = 1px

// TYPE
// ----
$baseFontSize   = 13px
$baseFontFamily = "Helvetica Neue", Helvetica, Arial, sans-serif
$baseLineHeight = 18px

// Z-INDEX MASTER LIST
// -------------------
// Used for a bird's eye view of components dependent on the z-axis
// 
$zindexChat             = 900
$zindexDropdown         = 1000
$zindexFixedAddField    = 1025
$zindexLoadingIndicator = 1026
$zindexFullscreen       = 1027
$zindexFixedSidebar     = 1028
$zindexFixedNavbar      = 1030
$zindexTooltip          = 1031
$zindexSidebarToggle    = 1033
$zindexPopover          = 1035
$zindexModalBackdrop    = 1060
$zindexModal            = 1070

// NAVBAR
// ------
$navBarHeight              = 30px;
$navbarBackground          = #222
$navbarBackgroundHighlight = #333

// USER BAR
// --------
$userBarHeight = ($unit * 1.5)
 