<div id="drop-zone" class="drop-zone">
  <div class="status">
    <div class="block-status">Block Created</div>
    <a class="block-link" target="_blank" href="http://are.na">View on Arena</a><a class="block-close" href="#">Add another block</a>
  </div>
</div>

<a id="save-page" class="btn square large primary page-scrape">
  <span>or: Save as a link</span>
</a>

<a href="#" class="close">&times;</a>
<!-- 
<div id="item-container" class="roll"></div> -->