<div id="drop-zone" class="drop-zone">

  <div class="instructions">
    Drag stuff here
  </div>

  <a class="helpLink">?</a>
  <div class="help">
    <ul>
      <li>Use the search above to select a channel to add to</li>
      <li>Drag pictures, links, or text here to save as blocks</li>
      <li>Click &ldquo;Save page as link&rdquo; below to save the page as a link</li>
    </ul>
    <a class="closeHelp">&times;</a>
  </div>

  <div class="status">
    <div class="block-status">Block Created</div>
    <a class="block-link" target="_blank" href="http://are.na">View on Arena</a><a class="block-close" href="#">Add another block</a>
  </div>

</div>

<a id="save-page" class="btn square large primary page-scrape">
  <span>Save page as a link</span>
</a>

<a href="#" class="close">&times;</a>
<!-- 
<div id="item-container" class="roll"></div> -->