<div class="logo">
  <img src="images/brand/mark_tiny_dark.png">
</div>

<form accept-charset="UTF-8" action="/users/welcome?bookmarklet=true" method="post">
  <input class="full" id="session_email" name="user[email]" placeholder="Email" type="text" />
  <input class="full" id="session_password" name="user[password]" placeholder="Password" type="password" />
  <input class="btn full primary large login" data-disable-with="Signing in..." name="commit" type="submit" value="Login" />

  <div class='forgot align-center'>
    <a href="/users/password/new">Forgot your password?</a>
  </div>

</form>

  <a class="panel-close light close-marklet">Close</a>
