<div id="sidebar" class="sidebar">

  <div class="search-container">
    <input type="text" id="channel-picker" class="search-query" placeholder="Select or create a channel">
    <div class="new-channel-container bar-box"></div>
    <ul class="dropdown-menu results-list"></ul>
  </div>
  
  <div class="current-channel-container"></div>
</div>


<div class="drop-zone-container ready">
  <div class="drop-zone">

    <div class="instructions">
      Drag images, links, or text here to save on Arena or simply <a class="save-as-page-link">Save page as link</a>
    </div>

    <div class="status-container">
      <div class="status-success">
        <div class="block-status">Block Created</div>
        <a class="view-on-arena-link" target="_blank" href="http://are.na">View on Arena</a>
      </div>

      <div class="status-error">
        <div class="block-status">Unable to create block</div>
        <!--<a class="view-on-arena-link" target="_blank" href="http://are.na">Something bad happened</a>-->
      </div>
    </div>

  </div>
</div>

<a class="panel-close light close-marklet">Close</a>